.warboard {
  text-align: center;
  position: absolute;
  margin-top: 76px;
  width: 100%;
  height: 100%;
}

.canvas_holder {
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}

.awtitle{
  color: white;
  font-size: 200%;
  top: 50px;
  position: absolute;
}

.canvas {
  position: absolute;
  display: block;
}


