.warboard {
  position: absolute;
  margin-top: 76px;
  width: 100%;
  height: 100%;
}

.canvas_holder {
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}

.awinfo {
  width: 19%;
  height: 50%;
  border-radius: 25px;
  margin-top: 2%;
  border: 1.4px solid #146c6c;
  background-color: #1a1a1a;
  position: absolute;
  overflow-x: hidden;
  left: 5px;
}

.canvas {
  position: absolute;
  display: block;
}
