/* ----- NODE SIDEBAR ----- */

.normal-node {
  font-family: "DidactGothic-Regular";
  top: 69px;
  width: 20%;
  height: 100%;
  background-color: #322f32;
  position: fixed;
  overflow: hidden;
  left: 0;
}

.expanded-node {
  font-family: "DidactGothic-Regular";
  top: 0;
  width: 20%;
  height: 100%;
  background-color: #322f32;
  position: fixed;
  overflow: hidden;
  left: 0;
}

/* ----- INSIDE NODE SIDEBAR ----- */

.node-title {
  font-family: "DidactGothic-Regular";
  font-size: 18px;
  color: #c0bdc0;
  text-align: left;
  padding-left: 15px;
  margin-top: 10px;
}

.divider {
  color: #c0bdc0;
  background-color: #c0bdc0;
  border-color: #c0bdc0;
  width: 90%;
  margin: auto;
  margin-top: 10px;
}

.node-info {
  font-family: "DidactGothic-Regular";
  font-size: 14px;
  color: #c0bdc0;
  text-align: left;
  padding-left: 15px;
  margin-top: 10px;
}

.full-node-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.nodes-container {
  margin: auto;
  overflow: auto;
  width: 90%;
  height: 63%;
  background-color: #213d4e;
}

.nodes-container-expanded {
  margin: auto;
  overflow: auto;
  width: 90%;
  height: 74%;
  background-color: #213d4e;
}

.nodes-container::-webkit-scrollbar {
  display: none;
}

.nodes-container-expanded::-webkit-scrollbar {
  display: none;
}

/* ----- INDIVIDUAL NODES ----- */

.node {
  margin: 2%;
  padding-top: 5px;
  padding-left: 5px;
  background-color: #363437;
  border-radius: 4px;
  border: 2px solid #172127;
  overflow-x: hidden;
}

.node-header {
  margin-top: -5%;
  height: 50px;
  padding-top: 0;
  display: flex;
  align-items: center;
}

.node-divider {
  color: #c0bdc0;
  background-color: #c0bdc0;
  border-color: #c0bdc0;
  height: 37% !important;
  width: 1px;
  margin-left: 6px;
  margin-right: 6px;
}

.node-name {
  padding-top: 7px;
  word-break: normal;
  font-size: 15.5px;
  color: #fefefe;
}

.node-description {
  margin-top: -5%;
  word-break: normal;
  font-size: 15px;
  color: #908d8f;
}

/* ----- NODE ICONS ----- */

.node-icon {
  color: #d95d21;
  left: 10px;
}

.close-icon {
  font-size: 25px;
  margin-left: 88%;
  transform: translate(0, -100%);
  color: #727073;
  position: absolute;
}
