.navbar {
  height: 90px;
  text-align: center;
  position: fixed;
  width: 100%;
  border-bottom: ridge;
  border-width: 6px;
  border-color: #333333;
}

.title {
  width: 100%;
  height: 90px;
  margin-top: 50%;
  margin: 0 auto;
  font-family: "EvilEmpire";
  font-size: 500%;
  color: whitesmoke;
  position: fixed;
}
