/* ----- NAVBAR ----- */

.custom-navbar {
  transition-timing-function: ease-in;
  transition: 0.5s;
  height: 70px;
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: ridge;
  border-width: 6px;
  border-color: #333333;
}

.home-title {
  text-decoration: none;
  position: fixed;
  display: "flex";
  align-items: "center";
  justify-content: "center";
  left: 50%;
  transform: translate(-50%);
  font-family: "EvilEmpire";
  font-size: 400%;
  color: whitesmoke;
}

.home-title:hover {
  color: whitesmoke;
  text-decoration: none;
  cursor: pointer;
}

.sidebar-button {
  position: fixed;
  border: none;
  background: none;
  font-size: 40px;
  color: white;
  background-color: #1a1a1a;
  right: 0;
  height: 10%;
  top: -5px;
  margin-right: 10px;
  margin-bottom: 8px;
  cursor: pointer;
}

/* ----- LOGIN BUTTON ----- */

.auth {
  position: fixed;
  background-color: #1a1a1a;
  margin-left: 1%;
  font-family: "MavenPro";
  align-items: center;
  text-decoration: none;
  font-size: 130%;
  color: whitesmoke;
  cursor: pointer;
}

.auth:hover {
  color: whitesmoke;
}

/* ----- ICONS ----- */

.discord {
  left: 92%;
  position: fixed;
}

.twitter {
  left: 85%;
  position: fixed;
}
