.navbar {
  transition-timing-function: ease-in;
  transition: 0.5s;
  height: 70px;
  text-align: center;
  position: fixed;
  width: 100%;
  border-bottom: ridge;
  border-width: 6px;
  border-color: #333333;
}

.title {
  text-decoration: none;
  position: fixed;
  display: "flex";
  align-items: "center";
  justify-content: "center";
  transform: translate(-50%);
  font-family: "EvilEmpire";
  font-size: 400%;
  color: whitesmoke;
  position: fixed;
}

.sidebarbutton {
  position: fixed;
  padding: 0;
  border: none;
  background: none;
  font-size: 40px;
  color: white;
  background-color: #1a1a1a;
  right: 0;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-top: 12px;
  position: fixed;
}
