/* ----- SIDEBAR ----- */

.custom-sidebar {
  width: 15%;
  height: 100%;
  margin-top: 5.5%;
  border-left: ridge;
  box-sizing: border-box;
  border-width: 4px;
  border-color: #333333;
  background-color: #322f32;
  position: fixed;
  overflow-x: hidden;
  right: 0;
}

.sidebar-options {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  text-decoration: none;
  font-family: "MavenPro";
  font-size: 125%;
  overflow: hidden;
  color: #c0bdc0;
}

.sidebar-options:hover {
  color: #c0bdc0;
}
