<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>YT VIDEO Downloader</title>
        <link rel="icon" href="https://icon-library.com/images/youtube-downloader-icon/youtube-downloader-icon-16.jpg">
    </head>

    <body style="background-color:rgb(194, 248, 0);">
        <h1 style="color:rgb(0, 0, 0); font-size:50px;">YT Video Downloader</h1>
        <h4 style="color:rgb(0, 38, 255); font-size:20px;"> Made with Love,Python and Flask</h4>
        <p style="color:rgb(255, 0, 0); font-size:15px;">Warning: Created for Educational Purposes<br>
        Enter the link and hit enter.</p>
        <form action="{{ url_for("downloader")}}" method="post" style="color: blueviolet;">
            <label for="text">Link:</label>
            <input type="text" id="text" name="ytlink" placeholder="Link">
            <button class="button button1"type="submit">Submit</button>
            <br>
            <a style="color: deeppink;"href="https://github.com/Indominus-Rexian">My Github</a><br>
            <a style="color: deeppink;" href="https://stackoverflow.com/users/14388242/dheeraj-tech">My Stack Overflow</a>    
     
        </form>    