<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Rexians</title>          
    </head>

    <body style="background-image: url(https://i.ibb.co/LvVK4m7/background.jpg); background-repeat: no-repeat; background-size: cover;">
        
        <h1 style="color:magenta; text-align: center;">Welcome to Rexians Web </h1> 
        <hr>

        <nav>  
            <ul>  
            <li>  
            <a href="/"> Home </a>  
            </li>  
            <li>  
            <a href="/qrcreate"> QR Creator </a>  
            </li>  
            <li>
            <a href="/test"> Test </a>       
            </ul>       
        </nav>        
        <p> <!--p is paragraph -->
            This is a website which is in progress! It contains all information about Indo's projects
            and other stuff. 
            <br>Thank you for coming here. :) <!--br is break line; b is bold;i is italic; u is underline-->
        </p>
        <hr> <!--Horizontal line-->
        <img src="https://i.ibb.co/qJw4CSm/indo.png"; alt="Indo Profile Picture"; border="0"; width="120"; height="120"; class="centre">
        <nav
    </body>
</html>