<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Primary Meta Tags -->
        <link rel="icon" href="https://i.ibb.co/qjmV4y3/Rexian-Logo-500500-removebg-preview.png">
        <meta name="title" content="Welcome to Rexians Web">
        <meta name="description" content="A cool website created by Indo for the Rexians Community for epic projects.">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://rex-web-production.up.railway.app/">
        <meta property="og:title" content="Welcome to Rexians Web">
        <meta property="og:description" content="A cool website created by Indo for the Rexians Community for epic projects.">
        <meta property="og:image" content="https://i.ibb.co/qjmV4y3/Rexian-Logo-500500-removebg-preview.png">
        <meta property="og:site_name" content="Rexians Web" />
        
        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://rex-web-production.up.railway.app/">
        <meta property="twitter:title" content="Welcome to Rexians Web">
        <meta property="twitter:description" content="A cool website created by Indo for the Rexians Community for epic projects.">
        <meta property="twitter:image" content="https://i.ibb.co/qjmV4y3/Rexian-Logo-500500-removebg-preview.png">        
        <title>SOON!!</title>
        <link rel="icon" href="https://i.ibb.co/qjmV4y3/Rexian-Logo-500500-removebg-preview.png">
    </head>

    <body>
        <h1>Sorry Buddy!!</h1>
        <h4>But this feature/Link hasn't been added yet!</h4>
        <h5>Come Back Later!!</h5>
    </body>
</html>