html {
  background-color: #1a1a1a;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "EvilEmpire";
  src: url("./fonts/EvilEmpire.ttf") format("truetype");
}

@font-face {
  font-family: "MavenPro";
  src: url("./fonts/MavenPro-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "DidactGothic-Regular";
  src: url("./fonts/DidactGothic-Regular.ttf") format("truetype");
}
